<div class="mainContainerProfile">
  <h2>Edycja hasła</h2>
  <form name="form">
    <div class="user-details">
      <div class="inputBoxBill">
        <span class="details">Hasło</span>
        <input type="password" placeholder="Hasło" style="background-color: #c4e2ff"
               name="password" pattern="^[a-zA-Z0-9_-]{5,25}$" required>
        <ul>
          <li>i
            <div class="dangerInfo">Prawidłowe hasło zawiera litery, liczby i ma długość od 5 do
              25 znaków.
            </div>
          </li>
        </ul>
      </div>
      <div class="inputBoxBill">
        <span class="details">Powtórz hasło</span>
        <input type="password" placeholder="Hasło" style="background-color: #c4e2ff"
               name="passwordRepetition" required>
        <ul>
          <li>i
            <div class="dangerInfo">Hasła muszą być identyczne!</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="button">
      <input id="buttonPassword" type="submit"
             value="Zmień hasło">
    </div>
  </form>
  <h2>Edycja adresu email</h2>
  <form name="form">
    <div class="user-details">
      <div class="inputBoxBill">
        <span class="details">Email</span>
        <input type="email" placeholder="adres@email.com" style="background-color: #c4e2ff;"
               name="email"
               pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required>
        <ul>
          <li>i
            <div class="dangerInfo">Wpisz email w postaci: zzzzz@zzzz.zzz, np:
              narcikowo@gmail.com
            </div>
          </li>
        </ul>
      </div>
      <div class="inputBoxBill">
        <span class="details">Powtórz email</span>
        <input type="email" placeholder="adres@email.com" style="background-color: #c4e2ff;"
               name="emailRepetition" required>
        <ul>
          <li>i
            <div class="dangerInfo">Adresy email muszą być identyczne!</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="button">
      <input id="buttonEmail" type="submit"
             value="Zmień email">
    </div>
  </form>
</div>
