.mainContainer {
  max-width: 700px;
  width: 100%;
  background-color: transparent;

  margin: auto;

  max-height: fit-content;

  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.buttonQuit:hover {
  border-radius: 5px;
  box-shadow: 0 0 25px #fff;
  background: rgba(0, 0, 0, 0.3);
}

.buttonQuit {
  height: 100%;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
}
.pagination {
  width: 100%;
  padding: 30px;
  margin: auto;
  justify-content: center;
}

.button:hover{
  border-radius: 5px;
  box-shadow: 0 0 25px #fff;
  background: rgba(0, 0, 0, 0.3);
}

.button{
  height: auto;
  margin: 35px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
}
