<div class="mainContainer">
  <ng-container *ngIf="invoicesList">
    <div class="pagination">
      <pagination-controls (pageChange)="page= $event"></pagination-controls>
    </div>
  </ng-container>
  <div class="button" *ngFor="let invoice of invoicesList | paginate: {itemsPerPage: 4, currentPage: page}"
       (click)="downloadInvoicePDF(invoice.id, invoice.invoiceDate)">
    Faktura z dnia: {{invoice.invoiceDate}}<br>
    Kwota: {{invoice.total}}
  </div>
  <div class="buttonQuit" (click)="closeInvoices()">element-invoices works!</div>
</div>

