p {
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

p img {
  width: 500px;
}
