/* Info div container */
.infoContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  max-height: fit-content;
  padding: 30px;
}

/* Info block div */
.info {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 10px;

  margin: auto;
  margin-bottom: 40px;
  padding: 30px;

  max-height: fit-content;
  min-width: 400px;

  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Image info block div */
.info img {
  max-width: 30vw;
}

/* Icon style */
i {
  margin-bottom: 40px;
  --ggs: 2;
}
