<div class="mainContainer">
  <div *ngIf="!loggedIn" class="welcomeText">
    <h1> Witaj na narcikowo.pl</h1>
    <a href="#">
      Kup karnet!
    </a>
  </div>
  <div *ngIf="loggedIn" class="welcomeText">
    <h1> {{username}} </h1>
    <h1>Witaj na narcikowo.pl</h1>
    <a href="#">
      Kup karnet!
    </a>
  </div>
  <div class="mainInfo">
    Narcikowo jest największym środkiem sportów zimowych, a jednocześnie
    najwyżej położonym w Europie. Jest to metropolia sportów zimowych oraz
    eldorado dla fanów snowboardu, jazdy na nartach i dla tych, którzy
    kochają spacery i narciarstwo biegowe. W naszej ofercie znajdują się
    liczne karnety, które można zakupić poprzez naszą stronę internetową.
    U nas nie musisz stać w kolejkach do kasy - nowoczesna technologia
    karnetów w formie kodów QR sprawi, że będąc na miejscu możesz od razu
    zakładać narty i delektować się trasami o łącznej długości 40km.
  </div>
</div>
