Witaj na swoim profilu, {{user.firstName}} {{user.lastName}}.
<div class="mainData">
  <h5>Imię: </h5>
  {{user.firstName}}
</div>
<div class="mainData">
  <h5>Nazwisko: </h5>
  {{user.lastName}}
</div>
<div class="mainData">
  <h5>Numer telefonu: </h5>
  {{user.phone}}
</div>
<div class="mainData">
  <h5>Kraj: </h5>
  {{user.country}}
</div>
<div class="mainData">
  <h5>Wojewódźtwo: </h5>
  {{user.voivodeship}}
</div>
<div class="mainData">
  <h5>Kod pocztowy: </h5>
  {{user.postalCode}}
</div>
<div class="mainData">
  <h5>Miasto: </h5>
  {{user.city}}
</div>
<div class="mainData">
  <h5>Ulica: </h5>
  {{user.address}}
</div>
