<div class="mainContainer">
  <h2>Rejestracja</h2>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="inputBox">
          <span class="details">Imię</span>
          <input type="text" placeholder="Podaj imię" required>
        </div>
        <div class="inputBox">
          <span class="details">Nazwisko</span>
          <input type="text" placeholder="Podaj nazwisko" required>
        </div>
        <div class="inputBox">
          <span class="details">Kraj</span>
          <input type="text" placeholder="Podaj kraj" required>
        </div>
        <div class="inputBox">
          <span class="details">Email</span>
          <input type="email" id="email" placeholder="Podaj e-mail" style="background-color: #c4e2ff;" required>
        </div>
        <div class="inputBox">
          <span class="details">Powtórz email</span>
          <input type="email" id="email2" placeholder="Podaj e-mail" style="background-color: #c4e2ff;" required>
        </div>
        <div class="inputBox">
          <span class="details">Numer telefonu</span>
          <input type="text" placeholder="Podaj numer telefonu" onblur="validatePhone(this);"
                 required>
        </div>
        <div class="inputBox">
          <span class="details">Województwo</span>
          <input type="text" placeholder="Podaj województwo" required>
        </div>
        <div class="inputBox">
          <span class="details">Kod pocztowy</span>
          <input type="" required class="postalCode" placeholder="Kod pocztowy:"
                 onkeyup="insertDash(this);" onblur="validatePostalCode(this);">
        </div>
        <div class="inputBox">
          <span class="details">Miasto</span>
          <input type="text" placeholder="Miasto zamieszkania" required>
        </div>
        <div class="inputBox">
          <span class="details">Adres</span>
          <input type="text" placeholder="Ulica i numer domu" required>
        </div>
        <div class="inputBox">
          <span class="details">Hasło</span>
          <input type="password" placeholder="Podaj hasło" style="background-color: #c4e2ff" required>
        </div>
        <div class="inputBox">
          <span class="details">Powtórz hasło</span>
          <input type="password" placeholder="Powtórz hasło" style="background-color: #c4e2ff"
                 required>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Zarejestruj mnie">
      </div>
    </form>
  </div>
</div>
