<div class="mainContainer">
  <div class="title">Zarejestruj się</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Imię</span>
          <input type="text" placeholder="Podaj imię" required>
        </div>
        <div class="input-box">
          <span class="details">Nazwisko</span>
          <input type="text" placeholder="Podaj nazwisko" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Podaj e-mail" required>
        </div>
        <div class="input-box">
          <span class="details">Numer telefonu</span>
          <input type="text" placeholder="Podaj numer telefonu" required>
        </div>
        <div class="input-box">
          <span class="details">Hasło</span>
          <input type="text" placeholder="Podaj hasło" required>
        </div>
        <div class="input-box">
          <span class="details">Powtórz hasło</span>
          <input type="text" placeholder="Ponownie podaj hasło" required>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Zarejestruj">
      </div>
    </form>
  </div>
</div>
