<div class="mainContainer">
  <button class="buttonInput" (click)="addPassForm()">Dodaj karnet</button>
  <h2 *ngIf="passForms[0]">Dane karnetów</h2>
  <div class="content">
    <app-pass-form *ngFor="let passRequest of passForms" [pricelist]="pricelist" [pass]="routeData.pass"
                   [discount]="routeData.discount" (newRequestEvent)="addPassRequest($event)"
                   (newValidateEvent)="checkPassFormValidation($event)"
    ></app-pass-form>
    <h2>Dane płatnicze</h2>
    <form name="form" (ngSubmit)="f.form.valid && isPassFormValid && onSubmit()" #f="ngForm" name="form">
      <div class="user-details">
        <div class="inputBoxBill">
          <span class="details">Kraj</span>
          <input type="text" placeholder="Kraj" [(ngModel)]="form.country" #country="ngModel" name="country" required
                 [ngClass]="{error :  country.touched && country.errors}"
                 pattern="^[A-ZĄĆĘŁŃÓŚŻŹ]{1}[a-ząćęłńóśżź]{2,15} ?[A-Za-zĄĆĘŁŃÓŚŻŹąćęłńóśżź]{0,15}$">
        </div>
        <div class="inputBoxBill">
          <span class="details">Województwo</span>
          <input type="text" placeholder="Wojewódźtwo" [(ngModel)]="form.voivodeship" #voivodeship="ngModel"
                 [ngClass]="{error :  voivodeship.touched && voivodeship.errors}"
                 name="voivodeship" pattern="^[A-Za-zĄĆĘŁŃÓŚŻŹąćęłńóśżź-]{2,19}$" required>
        </div>
        <div class="inputBoxBill">
          <span class="details">Kod pocztowy</span>
          <input type="" class="postalCode" placeholder="12-345" (keyup)="insertDash()" [(ngModel)]="form.postalCode"
                 [ngClass]="{error :  postalCode.touched && postalCode.errors}"
                 #postalCode="ngModel" name="postalCode" pattern="^[0-9]{2}-[0-9]{3}$" required>
        </div>
        <div class="inputBoxBill">
          <span class="details">Miasto</span>
          <input type="text" placeholder="Miasto" [(ngModel)]="form.city" #city="ngModel" name="city"
                 [ngClass]="{error :  city.touched && city.errors}"
                 pattern="^[A-ZĄĆĘŁŃÓŚŻŹ]{1}[a-ząćęłńóśżź]{2,15} ?[A-Za-zĄĆĘŁŃÓŚŻŹąćęłńóśżź]{0,15}$" required>
        </div>
        <div class="inputBoxBill">
          <span class="details">Ulica</span>
          <input type="text" placeholder="Ulica 123" [(ngModel)]="form.address" #address="ngModel"
                 name="address"
                 [ngClass]="{error :  address.touched && address.errors}"
                 pattern="^[A-Za-zĄĆĘŁŃÓŚŻŹąćęłńóśżź0-9]{1,15} ?[A-Za-zĄĆĘŁŃÓŚŻŹąćęłńóśżź0-9]{1,15} ?[A-Za-zĄĆĘŁŃÓŚŻŹąćęłńóśżź0-9]{1,15}$"
                 required>
        </div>
        <div class="inputBoxBill">
          <span class="details">Użyć danych użytkownika?</span>
          <input type="checkbox" id="option" name="address" [(ngModel)]="form.useUserdata"
                 #useUserdata="ngModel" (change)="fillData(useUserdata.value)" name="useUserdata">
        </div>
        <div class="inputBoxBill">
          <span class="details">Do zapłaty</span>
          <input type="number" disabled [(ngModel)]="form.total" #total="ngModel" name="total"
                 [ngClass]="{error :  total.touched && total.errors}"required>

        </div>
      </div>
      <div class="button">
        <input  (click)="f.form.markAllAsTouched()" type="submit" id="button" value="Dokonaj zakupu">
      </div>
    </form>
  </div>
</div>
