<!--Header with title of the page-->
<header id="{{currentHeader}}">
  <div class="{{currentWrapper}}">
    <!--Logo - main page-->
    <div class="logo">
      <!--Paste ready logo here-->
    </div>
    <ul class="navBar">
      <li id="activeLi"><a routerLink="/about">O nas</a></li>
      <li><a href="#">Karnety i ceny</a></li>
      <li><a routerLink="/lifts">Wyciągi i trasy</a></li>
      <li><a routerLink="/contact">Dojazd i kontakt</a></li>
      <li><a routerLink="/login">Logowanie</a></li>
    </ul>
  </div>
  <div>
  <router-outlet></router-outlet>
  </div>
</header>
