<!--Header with title of the page-->
<div id="{{currentContainer}}">
  <div class="{{currentNavContainer}}">
    <nav>
      <div class="{{currentLogo}}" routerLink="/welcome">
        narcikowo.pl
      </div>
      <div class="menuOpen" (click)="openMenu()"><i class="gg-menu"></i></div>
      <ul class="{{currentNav}}">
        <ng-container *ngIf="roles.includes('ROLE_EMPLOYEE')">
          <li><a routerLink="/management">Zarządzaj</a></li>
        </ng-container>
        <ng-container *ngIf="roles.includes('ROLE_TECHNICIAN')">
          <li><a routerLink="/skilift-management">Zarządzaj</a></li>
        </ng-container>
        <ng-container *ngIf="!roles.includes('ROLE_EMPLOYEE')">
          <li><a routerLink="/welcome">O nas</a></li>
        </ng-container>
        <li><a routerLink="/pricelist">Karnety i ceny</a></li>
        <li><a routerLink="/lifts">Wyciągi i trasy</a></li>
        <li><a routerLink="/contact">Dojazd i kontakt</a></li>
        <ng-container *ngIf="roles.includes('ROLE_USER')">
          <li><a routerLink="/profile">Moje konto</a></li>
        </ng-container>
        <ng-container *ngIf="!loggedIn">
          <li><a routerLink="/login">Logowanie</a></li>
        </ng-container>
        <ng-container *ngIf="loggedIn">
          <li><a (click)="logout()">Wyloguj</a></li>
        </ng-container>
        <div class="menuClose" (click)="closeMenu()"><i class="gg-close"></i></div>
      </ul>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

