<!--Header with title of the page-->
<div id="{{currentContainer}}">
  <div class="navContainer">
    <nav>
      <div class="logo" routerLink="/welcome">
        narcikowo.pl
      </div>
      <div class="menuOpen" (click)="openMenu()"><i class="gg-menu"></i></div>
      <ul class="mainNav">
        <li id="activeLi"><a routerLink="/about">O nas</a></li>
        <li><a href="#">Karnety i ceny</a></li>
        <li><a routerLink="/lifts">Wyciągi i trasy</a></li>
        <li><a routerLink="/contact">Dojazd i kontakt</a></li>
        <li><a routerLink="/login">Logowanie</a></li>
        <div class="menuClose" (click)="closeMenu()"><i class="gg-close"></i></div>
      </ul>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="empty"></div>
</div>
<footer>
  &copy; 2021 - Serwis Narciarski narcikowo.pl<br>
  Weronika Rynkowska, Marcin Rogoż, Szymon Sochaj, Adam Berezka, Tomasz Stach
</footer>
