<div class="mainContainerEditForm">
  <div class="content">
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" name="form">
      <div class="user-details">
        <div class="inputBoxBill">
          <span class="details">Hasło</span>
          <input type="password" placeholder="Hasło" style="background-color: #c4e2ff" [(ngModel)]="form.password"
                 [style.background-color]="(!password.touched || password.valid) ? '#c4e2ff' : ''"
                 [ngClass]="{error :  password.touched && password.errors}"
                 #password="ngModel" name="password" pattern="^[a-zA-Z0-9_-]{5,25}$" required>
          <ul>
            <li>i
              <div class="dangerInfo">Prawidłowe hasło zawiera litery, liczby i ma długość od 5 do
                25 znaków.
              </div>
            </li>
          </ul>
        </div>
        <div class="inputBoxBill">
          <span class="details">Powtórz hasło</span>
          <input type="password" placeholder="Hasło" style="background-color: #c4e2ff"
                 [style.background-color]="(!passwordRepetition.touched ||
                  (passwordRepetition.value===password.value && passwordRepetition.value !== null)) ? '#c4e2ff' : ''"
                 [ngClass]="{error :  passwordRepetition.touched && (passwordRepetition.errors ||
                 passwordRepetition.value!==password.value)}"
                 [(ngModel)]="form.passwordRepetition" #passwordRepetition="ngModel" name="passwordRepetition"
                 pattern="^{{password.value}}$" required>
          <ul>
            <li>i
              <div class="dangerInfo">Hasła muszą być identyczne!</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="button">
        <input type="submit" (click)="f.form.markAllAsTouched()" id="button" value="Edytuj hasło">
      </div>
    </form>
  </div>
</div>
