<ng-container *ngIf="isUser">
  <p>Kliknij w karnet żeby kupić.</p>
  <div class="infoContainer">
    <div class="infoTime" *ngFor="let pass of pricelist.timePassesList"
         (click)="goToPurchase(pass,pricelist.ageDiscountsList[0])">
      <ul class="price">
        <li class="header">KARNET CZASOWY</li>
        <ng-container *ngIf="pass.hours<24">
          <li class="detail">{{pass.hours}}H</li>
        </ng-container>
        <ng-container *ngIf="pass.hours==24">
          <li class="detail">{{pass.hours / 24| number: '1.0-0'}} DZIEŃ</li>
        </ng-container>
        <ng-container *ngIf="pass.hours>24">
          <li class="detail">{{pass.hours / 24| number: '1.0-0'}} DNI</li>
        </ng-container>
        <li>normalny: {{pass.price}} zł</li>
        <li>ulgowy: {{calculateDiscountPrice(pass.price) | number: '1.0-0'}} zł</li>
      </ul>
    </div>
    <div class="infoQua" *ngFor="let pass of pricelist.quantityPassesList"
         (click)="goToPurchase(pass,pricelist.ageDiscountsList[0])">
      <ul class="price">
        <li class="header">KARNET ZJAZDOWY</li>
        <li class="detail">{{pass.quantity}} ZJAZDÓW</li>
        <li>normalny: {{pass.price}} zł</li>
        <li>ulgowy: {{calculateDiscountPrice(pass.price) | number: '1.0-0'}} zł</li>
      </ul>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isUser">
  <p style="cursor: pointer;" (click)="goToLogin()">Zaloguj się, aby kupić karnet.</p>
  <div class="infoContainer">
    <div class="infoTime" *ngFor="let pass of pricelist.timePassesList">
      <ul class="price">
        <li class="header">KARNET CZASOWY</li>
        <ng-container *ngIf="pass.hours<24">
          <li class="detail">{{pass.hours}}H</li>
        </ng-container>
        <ng-container *ngIf="pass.hours==24">
          <li class="detail">{{pass.hours / 24| number: '1.0-0'}} DZIEŃ</li>
        </ng-container>
        <ng-container *ngIf="pass.hours>24">
          <li class="detail">{{pass.hours / 24| number: '1.0-0'}} DNI</li>
        </ng-container>
        <li>normalny: {{pass.price}} zł</li>
        <li>ulgowy: {{calculateDiscountPrice(pass.price) | number: '1.0-0'}} zł</li>
      </ul>
    </div>
    <div class="infoQua" *ngFor="let pass of pricelist.quantityPassesList">
      <ul class="price">
        <li class="header">KARNET ZJAZDOWY</li>
        <li class="detail">{{pass.quantity}} ZJAZDÓW</li>
        <li>normalny: {{pass.price}} zł</li>
        <li>ulgowy: {{calculateDiscountPrice(pass.price) | number: '1.0-0'}} zł</li>
      </ul>
    </div>
  </div>
</ng-container>
