<section>
  <div class="box">
    <div class="form">
      <h2>Login</h2>
      <form>
        <div class="inputBx">
          <input type="email" placeholder="E-mail">
        </div>
        <div class="inputBx">
          <input type="password" placeholder="Password">
        </div>
        <label class="remember">
          <input type="checkbox">
          Zapamiętaj mnie
        </label>
        <div class="inputBx">
          <input type="submit" value="LOGIN">
        </div>
      </form>
      <p>
        <a href="#">Nie pamiętasz hasła? </a>
      </p>
      <h3> Nie masz jeszcze konta? </h3>
      <p>
        <a href="#">Zarejestruj się tutaj!</a>
      </p>
    </div>
  </div>
</section>
