<div class="mainContainer">
  <h2>Logowanie</h2>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="inputBx">
          <span class="details">Email</span>
          <input type="email" placeholder="Podaj e-mail" required>
        </div>
        <div class="inputBx">
          <span class="details">Hasło</span>
          <input type="password" placeholder="Podaj hasło" required>
        </div>
        <div class="inputBx">
          <span> Nie masz jeszcze konta? </span>
          <a (click)="goToRegistration()">Zarejestruj się tutaj!</a>
        </div>
        <div class="inputBx">
          <a href="#">Nie pamiętasz hasła? </a>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Zaloguj">
      </div>
    </form>
  </div>
</div>
