.mainContainer {
  background-color: slategray;
  width: 90%;
  padding: 25px 30px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);

  margin: auto;
  margin-top: 20px;

  max-height: fit-content;

  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.mainContainer .title, .container .title {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-shadow: 2px 2px 1px #000;
  border-radius: 10px;
}

.lift {
  border: 2px dashed rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
}

.lift h2 {
  text-shadow: 2px 2px 1px #000;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 30px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e40505;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4fffd6;
}

input:checked + .slider:before {
  transform: translateX(80px);
}

.slider:after {
  content: "OFF";
  color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 15px;
}

input:checked + .slider:after {
  content: "ON";
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  max-height: fit-content;
  padding: 30px;
}

main {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 10px;

  margin: 5px;
  padding: 30px;
  min-width: 50%;

  min-height: 60vh;

  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
}

.actions {
  margin: 15px;

  min-height: 60vh;

  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
}

.actions .button {
  height: 45px;
  margin: 15px 0;
  background: transparent;
}

.actions .button:hover {
  border-radius: 5px;
  background-color: #4fffd6;
}

.actions button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
