<div class="mainContainer">
  <div class="title">
    <h1>Panel technika</h1>
  </div>
  <div class="lift">
    <h2>Ciowianka</h2>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="lift">
    <h2>Jakiśwyciąg3</h2>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <div class="lift">
    <h2>Jakiśwyciąg2</h2>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
</div>
