/* Main div container - background style */
#loginContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("login.jpg");
  background-size: cover;
  background-position: center center;

  position: relative;

  height: 100%;
  width: 100%;
  min-height: 100vh;
}

/* Input style */
.info .inputBox {
  position: relative;

  width: 100%;
  margin-bottom: 20px;
}

/* Submit style */
.info .form .inputBox input[type="submit"] {
  width: 40%;
  padding: 8px 10px;

  font-size: 17px;
  font-weight: 500;
}

/* E-mail/password input style */
.info .inputBox input {
  outline: none;

  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;

  width: 90%;
  padding: 8px 10px;

  font-size: 17px;
  font-weight: 500;
}

/* Label for 'remember me' */
label {
  position: relative;
  display: inline-block;
  cursor: pointer;

  font-weight: 300;

  margin-bottom: 30px;
}

/* Placeholder style */
::placeholder{
  color: rgba(255, 255, 255, 0.6)
}

/* Paragraph style */
p {
  margin: 20px 0;
}