#passContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("mountains-2436512.jpg") no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.body {
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    border: 1px solid white;
}

.container .priceList {
    padding: 10px;
}

.container .passes {
    padding: 10px;
    width: 600vw;
    margin: 30px;
    border: 1px solid red;
}