<div class="infoContainer">
  <ng-container *ngIf="activePasses">
    <div class="pagination">
      <pagination-controls (pageChange)="page= $event"></pagination-controls>
    </div>
  </ng-container>
  <div class="infoTime" *ngFor="let pass of activePasses | paginate: {itemsPerPage: itemsPerPage, currentPage: page} ; index as i">
    <ul class="price">
      <li class="header">{{pass.firstName}} {{pass.lastName}}</li>
      <li class="detail">Data urodzenia: {{pass.birthDate}}</li>
      <li class="detail">Wartość: {{pass.unitPrice}}</li>
      <ng-container *ngIf="pass.endDate || pass.startDate">
        <li class="detail">Ważny od: {{pass.startDate | date: 'dd-MM-yyyy HH:mm:ss'}}</li>
        <li class="detail">Ważny do: {{pass.endDate | date: 'dd-MM-yyyy HH:mm:ss'}}</li>
      </ng-container>
      <ng-container *ngIf="pass.usesTotal">
        <li class="detail">Zakupione zjazdy: {{pass.usesTotal}}</li>
        <li class="detail">Zostało zjazdów: {{pass.usesLeft}}</li>
      </ng-container>
    </ul>
    <ng-container *ngIf="pass.blocked">
      <div class="buttonInput" (click)="changeBlockage(pass.id, i + (page-1) * itemsPerPage)">Odblokuj karnet</div>
    </ng-container>
    <ng-container *ngIf="!pass.blocked">
      <div class="buttonInput" (click)="changeBlockage(pass.id, i + (page-1) * itemsPerPage)">Zablokuj karnet</div>
    </ng-container>
  </div>
</div>
