<div class="infoContainer">
  <ng-container *ngIf="passesList">
    <div class="pagination">
      <pagination-controls (pageChange)="page= $event"></pagination-controls>
    </div>
  </ng-container>
  <div class="infoTime" *ngFor="let pass of passesList |
  paginate: {itemsPerPage: 2, currentPage: page}; index as i">
    <ul class="price" [ngClass]="{activePass : pass.isActive && !pass.blocked, blockedPass : pass.blocked }">
      <ng-container *ngIf="pass.blocked && pass.isActive">
        <li class="header">KARNET ZABLOKOWANY</li>
      </ng-container>
      <ng-container *ngIf="!pass.blocked && pass.isActive">
        <li class="header">KARNET AKTYWNY</li>
      </ng-container>
      <ng-container *ngIf="!pass.isActive">
        <li class="header">KARNET NIEAKTYWNY</li>
      </ng-container>
      <li class="detail">{{pass.firstName}} {{pass.lastName}} </li>
      <ng-container *ngIf="pass.endDate || pass.startDate">
        <li class="detail">Ważny od: {{pass.startDate | date: 'dd-MM-yyyy HH:mm:ss'}}</li>
        <li class="detail">Ważny do: {{pass.endDate | date: 'dd-MM-yyyy HH:mm:ss'}}</li>
      </ng-container>
      <ng-container *ngIf="pass.usesTotal">
        <li class="detail">Zakupione zjazdy: {{pass.usesTotal}}</li>
        <li class="detail">Zostało zjazdów: {{pass.usesLeft}}</li>
      </ng-container>
    </ul>
    <div class="buttonInput" (click)="downloadQR(pass.id)">Pobierz karnet</div>
    <ng-container *ngIf="canBeRefunded(pass)">
      <div class="buttonInput" (click)="refundPass(pass.id, i)">Zwróć karnet</div>
    </ng-container>
  </div>
</div>
